body{
  background: url (dragon.jpg);
  color:white;
  text-align:center;
}
main {
  background-color:green;
  text-align:center;
}
header{
  background-color:purple;
  text-align:white;
  color:white;
  font-family:cursive;
  font-size:150px;
}
h1{
  background-color:aqua;
  text-align:center;
}
button{
  background-color:yellow;
  color:black;
  border-radius:12px;
}
nav{
  background-color:darkblue;
  border-radius:12px;
}
