.purple {
  background-color:#88609e;
}
.blue {
  background-color:#obbff5;
}
.green {
  background-color:#7fbf2e;
}

body{
  background-color:#88609e;
  color:white;
  text-align:center;
}
main {
  background-color:#7fbf2e;
  text-align:center;
}
header{
  background-color:#95e2ef;
  text-align:white;
  color:white;
  font-family:cursive;
  font-size:150px;
}
h1{
  background-color:#95c096;
  text-align:center;
}
button{
  background-color:#d9c889;
  color:black;
  border-radius:12px;
}
nav{
  background-color:#2f5273;
  border-radius:12px;
}
a {
  color:white;
}
